fastapi[standard]==0.116.1
pydantic==2.11.7
sqlmodel==0.0.24
pydantic-settings==2.10.1
pymysql==1.1.1
cryptography==45.0.5
httpx==0.28.1
httpx[socks]==0.28.1
pyclean
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
passlib[bcrypt]==1.7.4
PyYAML==6.0.2
authlib==1.6.1
